@model Blog

@{
    ViewData["Title"] = "Detail";
}



<div class="container my-5">
    <div class="card">
        <div class="card-header">
            Product detail
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            PublicDate
                        </th>
                        

                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>
                            <img src="~/img/@Model.Image" alt="Product" />
                        </td>
                        <td>
                            @Html.Raw(Model.Title)
                        </td>
                        <td>
                            @Html.Raw(Model.Desc)
                        </td>
                        <td>
                            @Model.Date.ToString("MM/dd/yyyy")
                        </td>
                        
                    </tr>




                </tbody>

            </table>


        </div>

    </div>
    <a class="btn btn-primary my-4" asp-controller="Blog" asp-action="Index">Back</a>
</div>


